*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    width: 100%;
    height: 15vh;
    display: flex;
    background-color: rgb(0, 15, 44);
    border: 1px solid black;
    padding: 0.6rem;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    word-spacing: 5px;
    font-size: 2rem;
    width: 100%;
    height: 100%;
}
section{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    text-align: center;
    margin: 1rem 0;
}

.bannerText{
    height: 100%;
    padding: 0.5rem;
    width: 90%;
}
.bannerText h2{
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
}

main{
    width: 100%;
    height: 150vh;
}
.containerContent{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.formasTop , .formasBottom{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center; 
    margin: 2rem;
    background-color: rgba(12, 12, 12, 0.199);
    padding: 0.4em;
}
.formasTop > .forma{
    width: 30%;
}
.formasBottom > .forma{
    width: 25%;
}
.forma{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0.4rem;
    align-items: center;
}

.containerInfo{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.containerImg{
    width: 100%;
    height: 80%;
    padding: 0.2rem;
}
.containerImg img{
    margin: 0.4rem 0;
    width: 100%;
    height: 100%;
}
.nomeForma{
    height: 20%;
    display: flex;
    align-items: center;
}
.containerButton{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;

}
button{
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(2, 4, 35, 0.9);
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}
button:hover{
    background-color: rgb(2, 4, 35);
}
footer{    
    background-color: rgb(0, 15, 44);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
}
footer h1{
    width: 100%;
    font-size: 1.5rem;
    align-items: center;
}

@media screen and (max-width: 768px) {
    header h1{
        font-size:1.4em;
        display: flex;
        align-items: center;
    }
    main{
        height: auto;
    }
    .forma {
        width:1000px; /* Reduz o tamanho das formas para telas menores */
        height: 80VH;
        margin: 2em 0;
    }
    .formasTop> .forma{
        width: 80%;
    }
    .formasBottom  > .forma{
        width: 70%;
    }
    .formasTop, .formasBottom{
     flex-direction: column;  
     align-items: center; 
    }
    .nomeForma h2{
        font-size: 1em;
    }
    button{
        font-size: 1em;
    }
    footer h1{
        font-size: 1em;
    }

}