*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    width: 100%;
    height: 15vh;
    display: flex;
    background-color: rgb(0, 15, 44);
    border: 1px solid black;
    padding: 0.6em;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    word-spacing: 5px;
    font-size: 2em;
    width: 100%;
    height: 100%;
}
section{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    text-align: center;
    margin: 1em 0;
}

.bannerText{
    height: 100%;
    padding: 0.5em;
    width: 90%;
}
.bannerText h2{
    width: 100%;
    height: 100%;
    font-size: 1.5em;
}

main{
    width: 100%;
    height: 140vh;
}
.containerContent{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.formasTop , .formasBottom{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center; 
    margin: 2em;
    background-color: rgba(12, 12, 12, 0.421);
    padding: 0.4em;
}
.formasTop > .forma{
    width: 30%;
}
.formasBottom > .forma{
    width: 25%;
}
.forma{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0.4em;
    align-items: center;
}

.containerInfo{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.containerImg{
    width: 100%;
    height: 80%;
    padding: 0.2em;
}
.containerImg img{
    margin: 0.4em 0;
    width: 100%;
    height: 100%;
}
.nomeForma{
    height: 20%;
    display: flex;
    align-items: center;
}
.containerButton{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;

}
button{
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(2, 4, 35, 0.9);
    border-radius: 10px;
    font-size: 1.5em;
    cursor: pointer;
}
button:hover{
    background-color: rgb(2, 4, 35);
}
footer{    
    background-color: rgb(0, 15, 44);
    height: 80px;
    width: 100%;
}
